@{
    ViewData["Curso Git y GitHub"] = "Home Page";
}

<div class="text-center">
    <h1>Curso Git y GitHub De Cero a Experto</h1>
    <p>Use esta página para los detalles de las politicas de privacidad</p>
</div>
